* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-text: #141414;
  --light-text: #ffffff;
  --grey-text: #505050;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--dark-text);
}

header,
main,
footer {
  width: 100%;
  background-color: var(--light-text);
}

header,
main {
  max-width: 1100px;
  margin: 0 auto;
}
/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25em;
  height: 4em;
}

.nav-link {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.94rem;
  text-decoration: none;
  margin-left: 1.5em;
  cursor: pointer;
  color: var(--dark-text);
}

/* hero section */

.hero-post {
  background-image: url(/images/blog-image-hero.png);
  background-size: cover;
  color: var(--light-text);
  padding: 5.3125em 1.25em 1.25em 1.25em;
}

.hero-date {
  font-size: 0.75rem;
  line-height: 0.94em;
  margin-bottom: 0.5em;
}

.hero-heading {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.09375em;
  margin-bottom: 0.25em;
}

.hero-heading-link {
  color: var(--light-text);
  text-decoration: none;
}

.hero-text {
  line-height: 1.25em;
}

/* Articles section */

.blog-articles {
  padding: 2.125em 1.25em;
}

.blog img {
  width: 100%;
  margin-bottom: 0.75em;
}

.article-date {
  font-size: 0.875rem;
  line-height: 1.125em;
  margin-bottom: 0.65em;
}

.article-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.375em;
  line-height: 1.08em;
}

.article-intro {
  color: var(--grey-text);
  margin-bottom: 2.5em;
  line-height: 1.25em;
}

/* Hidden articles */
.initially-hidden {
  display: none;
}

/* View more/less buttons to show/hide articles */

.more-less-btns {
  color: var(--dark-text);
  font-weight: 700;
  line-height: 1.25em;
  display: block;
  text-align: center;
  cursor: pointer;
}

#view-less-btn {
  display: none;
}

/* Footer section */
footer {
  height: 105px;
  background-color: var(--dark-text);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-header {
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.08em;
}

.copyright {
  font-size: 0.75em;
  line-height: 1.25em;
}

/* Individual blog post page */

.blog-post-header {
  height: auto;
  color: var(--dark-text);
  padding: 2em 1.25em 1.25em 1.25em;
}

#blog-post-img {
  width: 100%;
  height: 400px;
  margin: 2em 0;
  background-image: url(/images/blog-image-hero.png);
  background-size: cover;
  background-position: bottom center;
}

.blog-date {
  display: block;
  margin-bottom: 1em;
}

.blog-heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.09375em;
  margin-bottom: 0.5em;
}

.blog-text {
  line-height: 1.25em;
}

.blog-subheading {
  font-weight: 700;
  margin: 1.25em 0;
}

.recent-posts {
  padding: 2.125em 1.25em;
}

.recent-posts-heading {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin-top: 2em;
}

/* About me section */
.about-me {
  padding: 1.25em 1.25em 0 1.25em;
}

.about-me-heading {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 1em 0 0.57em 0;
}

.about-me-text {
  line-height: 1.25em;
}

/* Media queries */

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0.5em;
    height: 5em;
  }

  .header-logo {
    margin-bottom: 0.5em;
  }

  .nav-link {
    margin: 0;
    padding: 0 0.5em 0 0.5em;
  }
}

@media (min-width: 480px) {
  /* index.html styles */
  .hero-heading,
  .hero-text {
    max-width: 70%;
  }

  .hero-post {
    height: 480px;
    padding: 16em 1.25em 1.25em 1.25em;
  }
}

@media (min-width: 769px) {
  /* index.html styles */
  header {
    padding: 0 4em;
    height: 6em;
  }

  .hero-post {
    padding: 16em 1.25em 1.25em 1.25em;
  }
  .blog-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
  }

  .more-less-btns {
    display: none;
  }

  .initially-hidden {
    display: block;
  }
  /* Blogpost page */
  #blog-post-img {
    height: 600px;
  }
  .recent-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
  }
  /* About me page */
  .recent-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
  }

  .recent-posts-heading {
    font-size: 1.5em;
  }
}

@media (min-width: 1025px) {
  /* index.html styles */
  .hero-heading {
    font-size: 2.5rem;
  }

  .blog-articles {
    grid-template-columns: repeat(3, 1fr);
    padding: 4em 4em 2em 4em;
  }
  /* Blogpost page */
  .recent-posts {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25em;
  }

  .blog-header-date,
  .blog-heading,
  .blog-text,
  .blog-subheading {
    padding: 0 5rem;
  }

  .recent-posts {
    margin: 1rem 2rem;
  }

  #blog-post-img {
    width: 95%;
    margin: 2em auto;
  }

  /* About me page */
  .recent-posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me {
    display: flex;
    margin: 2em;
  }

  .about-me-pic {
    margin-right: 2em;
  }
}
